[Unit]
Description=Deployment for trello Connector
Requires=config.service
After=config.service

[Service]
User=core
Type=oneshot
ExecStartPre=-/usr/bin/docker kill trello-connector-deploy
ExecStartPre=-/usr/bin/docker rm trello-connector-deploy
ExecStartPre=-/usr/bin/docker pull hoist/connector-trello:master
ExecStart=/usr/bin/docker run -h trello-connector-deploy --name trello-connector-deploy -e "ROOT_CONNECTOR_DIR=/shares/connectors" --volumes-from config -P hoist/connector-trello:master
ExecStop=/usr/bin/docker stop trello-connector-deploy
ExecStopPost=-/usr/bin/docker kill trello-connector-deploy
ExecStopPost=-/usr/bin/docker rm trello-connector-deploy
TimeoutStartSec=30m

[X-Fleet]
MachineMetadata=container_type=web
